.panel {
    position: relative;
}

/* BG */
.panel-bg {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.panel-bg .top-wrap {
    display: flex;
}

.panel-bg .top-left {
    background: url("../../assets/bg_top_left.png");
    background-size: contain;
}

.panel-bg .top-middle {
    background: url("../../assets/bg_top_middle.png");
    background-size: contain;
    flex-grow: 1;
}

.panel-bg .top-right {
    background: url("../../assets/bg_top_right.png");
    background-size: contain;
}

.panel-bg .middle-wrap {
    display: flex;
    flex-grow: 1;
}

.panel-bg .middle-left {
    background: url("../../assets/bg_middle_left.png");
    background-size: contain;
}

.panel-bg .middle-middle {
    background: url("../../assets/bg_middle_middle.png");
    flex-grow: 1;
}

.panel-bg .middle-right {
    background: url("../../assets/bg_middle_right.png");
    background-size: contain;
}

.panel-bg .bottom-wrap {
    display: flex;
}

.panel-bg .bottom-left {
    background: url("../../assets/bg_bottom_left.png");
    background-size: contain;
}

.panel-bg .bottom-middle {
    background: url("../../assets/bg_bottom_middle.png");
    flex-grow: 1;
    background-size: contain;
}

.panel-bg .bottom-right {
    background: url("../../assets/bg_bottom_right.png");
    background-size: contain;
}

/* Content */
.panel-content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.panel-content .panel-header {
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 100; /* make sure it will now be covered by other elements like images */
}

.panel-content .panel-header .place-holder {
    display: block;
    width: 144px;
}