.result-page {
    text-align: center;
}

.result-page .logo {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.result-page .well {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.result-page .well h1 {
    margin: 0;
}

