.bg .top-left, .bg .top-right, .bg .bottom-left, .bg .bottom-right {

}

.bg {
    display: flex;
    flex-direction: column;
}

.bg .top-wrap {
    display: flex;
}

.bg .top-left {
    background: url("../assets/bg_top_left.png") no-repeat center center;
    background-size: contain;
}

.bg .top-middle {
    background: url("../assets/bg_top_middle.png") center repeat-x;
    flex-grow: 1;
    background-size: contain;
}

.bg .top-right {
    background: url("../assets/bg_top_right.png") center no-repeat;
    background-size: contain;
}

.bg .middle-wrap {
    display: flex;
    flex-grow: 1;
}

.bg .middle-left {
    background: url("../assets/bg_middle_left.png") repeat-y center center;
    background-size: contain;
}

.bg .middle-middle {
    background: url("../assets/bg_middle_middle.png") repeat center center;
    flex-grow: 1;
}

.bg .middle-right {
    background: url("../assets/bg_middle_right.png") repeat-y center center;
    background-size: contain;
}

.bg .bottom-wrap {
    display: flex;
}

.bg .bottom-left {
    background: url("../assets/bg_bottom_left.png") no-repeat center center;
    background-size: contain;
}

.bg .bottom-middle {
    background: url("../assets/bg_bottom_middle.png") center repeat-x;
    flex-grow: 1;
    background-size: contain;
}

.bg .bottom-right {
    background: url("../assets/bg_bottom_right.png") center no-repeat;
    background-size: contain;
}