body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url("assets/bg.jpg") repeat center center;
}

* {
    box-sizing: border-box;
}

img {
    zoom: 1.8;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

a, span, p {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}